@{
    ViewBag.Title = "Карта Московского метро";
}

@section Scripts{

    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGc7wxYJ4M5UPd1kV1RtqcqTIuta4n27E">
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="//rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>

    @Scripts.Render("~/bundles/ngServices")
    @Scripts.Render("~/bundles/StationsController")
}

@Styles.Render("~/bundles/metro_css")

<div class="container" ng-app="ngMetroApp" ng-controller="StationsController">

        <div class="row col-md-offset-4 col-md-8"><h1>Карта Московского метро</h1></div>

        <div class="row">
            <div class="row col-md-3">
                <div class="panel-group" id="lines" role="tablist" aria-multiselectable="false">
                    <!-- Список веток -->
                    <div ng-repeat="line in lines" 
                         ng-hide="selectedLine != null && line.LineId != selectedLine" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_line_{{ line.LineId }}">
                            <h5 class="panel-title">
                                <span class="glyphicon glyphicon-th-large line_{{ line.Color }}"></span>
                                <a role="button" data-toggle="collapse" data-parent="#lines" href="#collapsed_line_{{ line.LineId }}"
                                   aria-expanded="true" aria-controls="collapsed_line_{{ line.LineId }}" ng-click="toggleSelection(line.LineId)">
                                    <span class="glyphicon dot"></span>
                                    {{ line.LineName }}
                                </a>
                            </h5>
                        </div>

                        <div id="collapsed_line_{{ line.LineId }}" class="panel-collapse collapse list-group" role="tabpanel" aria-labelledby="heading_line_{{ line.LineId }}">
                            <div class="panel-body">
                                <!-- Список станций ветки -->

                                <a href="#" class="list-group-item" ng-repeat="station in stations | filter:belongsToLine(line)" ng-click="openInfoWindow($event, station)">
                                    {{ station.StationName }}
                                </a>
                                <!-- /Список станций ветки -->
                            </div>
                        </div>
                    </div>
                    <!-- /Список веток -->
                </div>
            </div>

            <!-- Карта -->
            <div class="row col-md-offset-1 col-md-8">
                <div class="well">
                    <div id="map"></div>
                </div>
            </div>
            <!-- /Карта -->
        </div>
    </div>
