@{
    ViewBag.Title = "Подтверждение адреса электронной почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Спасибо, адрес вашей электронной почты успешно подтверджен. Пожалуйста @Html.ActionLink("Нажмите сюда, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
